/*черный #212121*/
/*серый #757575*/
/*акцент #2196F3*/
/*белый #ffffff*/

:root {
  --title-color: #212121;
  --text-color: #757575;
  --link-color: #2196f3;
  --primary-fone-color: #ffffff;
  --accent-color: orange;
}

.body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
  background: var(--primary-fone-color);
}

ul {
  list-style: none;
}

/*header page*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.logo-title {
  color: var(--link-color);
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-contact {
  color: var(--text-color);
}

.header-page:hover,
.header-contact:hover,
.map:hover,
.nav:hover {
  color: var(--link-color);
}

.header-page:focus,
.header-contact:focus,
.map:focus,
.nav:focus {
  color: var(--accent-color);
}

.title {
  background: #2f303a;
}

.title-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--primary-fone-color);
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-fone-color);
  background: var(--link-color);
}

/*feature*/

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
}

/*Work*/

.title-work,
.title-comand {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/*Command*/

.command {
  background: #f5f4fa;
}

.command-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.command-text {
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

/*Footer*/
.footer {
  background: #2f303a;
}

.map {
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-fone-color);
}

.nav {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

/*Portfolio*/

/*Filtr*/

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: #f5f4fa;
}

.filter-button:hover {
  color: var(--primary-fone-color);
  background: var(--link-color);
}

.filter-button {
  cursor: pointer;
}

/*Portfolio-text*/

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
}
