:root {
  --title-color: #212121;
  --text-color: #757575;
  --link-color: #2196f3;
  --primary-fone-color: #ffffff;
  --accent-color: orange;
}

/*Style studio page*/

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--primary-fone-color);
}

.list {
  list-style: none;
}

/*header page*/

.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

.accent {
  text-decoration: none;
  color: var(--link-color);
}

.header-page,
.header-studio,
.header-contact,
.header-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-studio {
  color: var(--link-color);
}

.header-contact {
  color: var(--text-color);
}

.header-page:hover,
.header-contact:hover,
.footer-map:hover,
.footer-nav:hover {
  color: var(--link-color);
}

.header-page:focus,
.header-contact:focus,
.footer-map:focus,
.footer-nav:focus {
  color: var(--accent-color);
}

.title {
  letter-spacing: 0.06em;
  background: #2f303a;
}

.title-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-fone-color);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-fone-color);
  background: var(--link-color);
}

/*feature*/

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

/*Work*/

.title-work,
.title-comand {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
}

/*Command*/

.command {
  background: #f5f4fa;
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.command-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

/*Footer*/

.footer {
  background: #2f303a;
}

address {
  font-style: normal;
}

.footer-logo {
  color: var(--primary-fone-color);
}

.footer-map {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--primary-fone-color);
}

.footer-nav {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/*Style portfolio page*/

/*Filtr*/

.portfolio-main {
  background: #e5e5e5;
}

.header-portfolio {
  color: var(--link-color);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover {
  color: var(--primary-fone-color);
  background: var(--link-color);
}

/*Portfolio-text*/

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
